<div class="row">
  <div class="col">
    <%= link_to 'Products', items_path %>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2><%= @item.title %></h2>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div id="item-notices">
      <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
      <% end %>
    </div>
    <%= render 'form', item: @item %>
  </div>
</div>
