<div class="row">
  <div class="col">
    <%= link_to 'Products', items_path %>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Add Product</h2>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div id="item-notices">
    </div>
    <%= render 'form', item: @item %>
    <%#= link_to 'Back', items_path %>
  </div>
</div>
